$def with (env)

$def draw_bar_with_data(legend_data, series_data):
    <div id="bar" style="width:60%;height:400px;margin:5% 20%;"></div>
    <script type="text/javascript">
        var bar_chart = echarts.init(document.getElementById('bar')); 
        var bar_option = {
            tooltip: {
                show: true
            },
            legend: {
                data:[
                    $for d in legend_data:
                        '$d',
                ]
            },
            xAxis : [
                {
                    type : 'category',
                    data : ["2008年","2009年","2010年","2011年","2012年","2013年", "2014年"]
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
                $for d in series_data:
                    { name:'$d["name"]', type:'bar', data:$d["data"]},
            ]
        };
        bar_chart.setOption(bar_option); 
    </script>

$def draw_map_with_data(title_text, title_subtext, legend_data, max, series_data):
    <div id="map" style="width:60%;height:400px;margin:5% 20%;"></div>
    <script type="text/javascript">
        var map_chart = echarts.init(document.getElementById("map"));
        var map_option = {
            title : {
                text: '$title_text',
                subtext: '$title_subtext',
                x:'center'
            },
            tooltip : {
                trigger: 'item'
            },
            legend: {
                orient: 'vertical',
                x:'left',
                data:[
                    $for d in legend_data:
                        '$d',
                    ]
            },
            dataRange: {
                min: 0,
                max: $max,
                x: 'left',
                y: 'bottom',
                text:['高','低'],
                calculable : true
            },
            toolbox: {
                show: true,
                orient : 'vertical',
                x: 'right',
                y: 'center',
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            roamController: {
                show: true,
                x: 'right',
                mapTypeControl: {
                    'china': true
                }
            },
            series : [
                $for s in series_data:
                    {
                        name:'$s["name"]',
                        type: 'map',
                        mapType: 'china',
                        roam: false,
                        itemStyle:{
                            normal:{label:{show:true}},
                            emphasis:{label:{show:true}}
                        },
                        data:[
                            $for d in s["data"]:
                                {
                                    name:'$d["name"]',
                                    value:$d["value"]
                                },
                        ]
                    },
            ]
        };
        map_chart.setOption(map_option); 
    </script>

$def draw_line_with_data(legend_data, series_data):
    <div id="line" style="width:60%;height:400px;margin:5% 20%;"></div>
    <script type="text/javascript">
        var line_chart = echarts.init(document.getElementById("line"));
        var line_option = {
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:[
                    $for d in legend_data:
                        '$d',
                    ]
            },
            toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : ["2008年","2009年","2010年","2011年","2012年","2013年", "2014年"]
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
                        $for d in series_data:
                            { name:'$d["name"]', type:'$d["type"]', stack:'$d["stack"]', data:$d["data"]},
            ]
        };
        line_chart.setOption(line_option); 
    </script>

$def draw_pie_with_data(title_text, title_subtext, legend_data, series_data):
    <div id="pie" style="width:60%;height:400px;margin:5% 20%;"></div>
    <script type="text/javascript">
        var pie_chart = echarts.init(document.getElementById("pie"));

        var pie_option = {
            title : {
                text: '$title_text',
                subtext: '$title_subtext',
                x:'center'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient : 'vertical',
                x : 'left',
                data: [
                    $for d in legend_data:
                        '$d',
                    ],
            },
            toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    magicType : {
                        show: true, 
                        type: ['pie', 'funnel'],
                        option: {
                            funnel: {
                                x: '25%',
                                width: '50%',
                                funnelAlign: 'left',
                                max: 1548
                            }
                        }
                    },
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            calculable : true,
            series : [
                {
                    name:'访问来源',
                    type:'pie',
                    radius : '55%',
                    center: ['50%', '60%'],
                    data: [
                        $for d in series_data:
                            {value:$d["value"], name:'$d["name"]'},
                    ]
                }
            ]
        };
        pie_chart.setOption(pie_option); 
    </script>

$def show_blank():
    <div>请输入查询参数</div>

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>环保指数查询系统</title>
        <link rel="stylesheet" type="text/css" href="static/css/main.css">
    </head>
    <body>
        <h1>环保指数查询系统</h1>
        <hr/>
        <div id="query1" class="query"> 
            <form method="get" action="/" id="myform">
                <div>
                    <label for="start_date">起始日期</label>
                    <input type="date" id="start_date" name="start"/>
                    <label for="end_date">结束日期</label>
                    <input type="date" id="end_date" name="end"/>
                    <span>(格式:2015-01-01, 不支持HTML5请手动输入)</span>
                </div>
                <div>
                    <input type="text" class="query_entry" name="query"/>
                    <input type="submit" class="query_btn" value="查询"/>
                    <span>(联合查询请用空格分隔关键字)</span>
                </div>
            </form>
        </div>
    
        $if env["query"]:
            <script src="static/js/echarts-all.js"></script>
            $if env["map"]:
                $:draw_map_with_data(env["map"]["title"],env["map"]["sub_title"],env["map"]["legend_data"],env["map"]["max"],env["map"]["series_data"])
            $if env["line"]:
                $:draw_line_with_data(env["line"]["legend_data"], env["line"]["series_data"])
            $if env["pie"]:
                $:draw_pie_with_data(env["pie"]["title"], env["pie"]["sub_title"], env["pie"]["legend_data"], env["pie"]["series_data"])
            $if env["bar"]:
                $:draw_bar_with_data(env["bar"]["legend_data"], env["bar"]["series_data"])
        $else:
            $:show_blank()
    </body>
</html>
