.query {
    margin:40px;
    padding:20px;
}

#start_date, #end_date {
    margin:20px;
}

.query_entry {
    width:400px;
    height:40px;
    font-size:30px;
}

.query_btn {
    width:100px;
    height:40px;
    font-size:30px;
}
