<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>环保指数查询系统</title>
    {% load staticfiles %}
    <script src="{% static "js/echarts-all.js" %}"></script>
</head>
<body>
    <h1>环保指数查询系统</h1>
    <form action="", method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
    </form>
    {% if env %}
        <div id="map" style="width:60%;height:400px;margin:5% 20%;"></div>
        <script type="text/javascript">
            var map_chart = echarts.init(document.getElementById("map"));
            var map_option = {
                title : {
                    text: "{{ env.map.title }}",
                    subtext: "{{ env.map.sub_title }}",
                    x:'center'
                },
                tooltip : {
                    trigger: 'item'
                },
                legend: {
                    orient: 'vertical',
                    x:'left',
                    data:[
                            {% for d in env.map.legend_data %}
                                "{{ d }}",
                            {% endfor %}
                        ]
                },
                dataRange: {
                    min: 0,
                    max: {{ env.map.max }},
                    x: 'left',
                    y: 'bottom',
                    text:['高','低'],
                    calculable : true
                },
                toolbox: {
                    show: true,
                    orient : 'vertical',
                    x: 'right',
                    y: 'center',
                    feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: false},
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                roamController: {
                    show: true,
                    x: 'right',
                    mapTypeControl: {
                        'china': true
                    }
                },
                series : [
                    {% for s in env.map.series_data %}
                        {
                            name: "{{ s.name }}",
                            type: 'map',
                            mapType: 'china',
                            roam: false,
                            itemStyle:{
                                normal:{label:{show:true}},
                                emphasis:{label:{show:true}}
                            },
                            data:[
                                {% for d in s.data %}
                                    {
                                        name:"{{ d.name }}",
                                        value:"{{ d.value }}"
                                    },
                                {% endfor %}
                            ]
                         },
                    {% endfor %}
                ]
            };
            map_chart.setOption(map_option); 
        </script>

        <div id="bar" style="width:60%;height:400px;margin:5% 20%;"></div>
        <script type="text/javascript">
            var bar_chart = echarts.init(document.getElementById('bar')); 
            var bar_option = {
                tooltip: {
                    show: true
                },
                legend: {
                    data:[
                        {% for d in env.bar.legend_data %}
                            "{{ d }}",
                        {% endfor %}
                    ]
                },
                xAxis : [
                    {
                        type : 'category',
                        data : ["2008年","2009年","2010年","2011年","2012年","2013年", "2014年"]
                    }
                ],
                yAxis : [
                    {
                        type : 'value'
                    }
                ],
                series : [
                    {% for d in env.bar.series_data %}
                        { name:"{{ d.name }}", type:'bar', data:{{ d.data }} },
                    {% endfor %}
                ]
            };
            bar_chart.setOption(bar_option); 
        </script>

        <div id="line" style="width:60%;height:400px;margin:5% 20%;"></div>
        <script type="text/javascript">
            var line_chart = echarts.init(document.getElementById("line"));
            var line_option = {
                tooltip : {
                    trigger: 'axis'
                },
                legend: {
                    data:[
                            {% for d in env.line.legend_data %}
                                "{{ d }}",
                            {% endfor %}
                        ]
                },
                toolbox: {
                    show : true,
                    feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: false},
                        magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                calculable : true,
                xAxis : [
                    {
                        type : 'category',
                        boundaryGap : false,
                        data : ["2008年","2009年","2010年","2011年","2012年","2013年", "2014年"]
                    }
                ],
                yAxis : [
                    {
                        type : 'value'
                    }
                ],
                series : [
                        {% for d in env.line.series_data %}
                            {name: "{{ d.name }}", type:"{{ d.type }}", stack:"{{ d.stack }}", data:{{ d.data }} },
                        {% endfor %}
                ]
            };
            line_chart.setOption(line_option); 
        </script>

        <div id="pie" style="width:60%;height:400px;margin:5% 20%;"></div>
        <script type="text/javascript">
            var pie_chart = echarts.init(document.getElementById("pie"));

            var pie_option = {
                title : {
                    text: "{{ env.pie.title }}",
                    subtext:"{{ env.pie.sub_title }}",
                    x:'center'
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient : 'vertical',
                    x : 'left',
                    data: [
                         {% for d in env.pie.legend_data %}
                             "{{ d }}",
                         {% endfor %}
                    ],
                },
                toolbox: {
                    show : true,
                    feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: false},
                        magicType : {
                            show: true, 
                            type: ['pie', 'funnel'],
                            option: {
                                funnel: {
                                    x: '25%',
                                    width: '50%',
                                    funnelAlign: 'left',
                                    max: 1548
                                }
                            }
                        },
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                calculable : true,
                series : [
                    {
                        name:'访问来源',
                        type:'pie',
                        radius : '55%',
                        center: ['50%', '60%'],
                        data: [
                            {% for d in env.pie.series_data %}
                                {value: {{ d.value }}, name:"{{ d.name }}"},
                            {% endfor %}
                        ]
                    }
                ]
            };
            pie_chart.setOption(pie_option); 
        </script>

    {% endif %}
</body>
</html>
